* {
    margin: 0;
    font-family: "Roboto Thin", sans-serif;
}

h1 {
    padding: 0 0 1em 0;
    margin-top: 1em;
}

p {
    padding: .5em 10%;
    line-height: 1.5em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: .3em 1em;
}

.container {
    width: 85%;
    margin: 1em auto;
    min-height: 35em;
}

.foto-container {
    background-size: cover;
    background-position: center;
}

#left {
    background-image: url("../img/left.png");
}

#right-top-left {
    background-image: url("../img/right-top-left.png");
}

#right-top-right {
    background-image: url("../img/right-top-right.png");
}

#right-bottom-left {
    background-image: url("../img/right-bottom-left.png");
}

#right-bottom-right {
    background-image: url("../img/right-bottom-right.png");
}
